@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow: hidden;
  height: 100%;
}

body {
  overflow: scroll;
  scroll-behavior: smooth;
  height: 100%;
}

#navbar {
  height: 10vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  border-bottom: 2px solid red;
}
#navbar a {
  min-inline-size: 120px;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  font-family: "ZCOOL QingKe HuangYou", cursive;
  font-weight: bold;
  padding: 0 3rem;
}

.page-section {
  min-height: 100vh;
  width: 100vw;
}
.page-section p {
  font-family: "ZCOOL QingKe HuangYou", cursive;
  font-size: 2rem;
  color: red;
  padding: 1rem;
}
.page-section h1 {
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 5rem;
  padding: 1rem;
}
.page-section h2 {
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 8rem;
}
.page-section#welcome-section {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-section#projects {
  background-color: white;
  color: black;
  padding-top: 15vh;
}
.page-section#projects > h2 {
  text-align: center;
}
.page-section#projects #project-tile-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 70vh;
}
.page-section#projects #project-tile-flexbox .project-tile {
  width: fit-content;
  color: yellow;
  margin: 0 2rem 0 2rem;
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
}
.page-section#projects #project-tile-flexbox .project-tile h2 {
  font-size: 2rem;
  color: black;
  text-align: center;
  padding: 1rem;
  border-bottom: 2px solid black;
}
.page-section#projects #project-tile-flexbox .project-tile a {
  display: block;
  width: fit-content;
  margin: auto;
}
.page-section#projects #project-tile-flexbox .project-tile img {
  display: block;
  width: 300px;
}
.page-section#contact-info {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.page-section#contact-info h2 {
  text-align: center;
}
.page-section#contact-info #social-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  justify-content: space-around;
}
.page-section#contact-info #social-icon-container a {
  flex: 0 0;
  text-align: center;
  width: fit-content;
  height: fit-content;
}
.page-section#contact-info #social-icon-container .social-icon {
  background: linear-gradient(0deg, red 50%, white 50%);
  border-radius: 25px;
  padding: 2rem;
  background-size: 300% 300%;
  background-position: 0% 0%;
  transition: 1s;
  color: black;
}
.page-section#contact-info #social-icon-container .social-icon:after {
  position: absolute;
  background: linear-gradient(0deg, white 50%, red 50%);
  border-radius: 25px;
  padding: 2rem;
  background-size: 300% 300%;
  background-position: 0% 0%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.page-section#contact-info #social-icon-container .social-icon:hover, .page-section#contact-info #social-icon-container .social-icon:hover:after {
  transition: 1s;
  background-position: 0% 100%;
}

.fa-mobile-alt {
  width: 80px;
}

@keyframes slide-out {
  0% {
    left: -680px;
  }
  100% {
    left: 0;
  }
}
@keyframes slide-in {
  0% {
    left: 0;
  }
  100% {
    left: -680px;
  }
}
#digital-badges-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  background-color: red;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  padding: 1rem 6rem 1rem 0;
  position: absolute;
  bottom: 0;
  animation-name: slide-in;
  animation-fill-mode: backwards;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  left: -670px;
}
#digital-badges-container .badge, #digital-badges-container img {
  max-height: 150px;
  width: auto;
  padding: 1rem 2rem;
}
#digital-badges-container:hover {
  animation-name: slide-out;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

#badge-container {
  position: absolute;
}

@media (max-width: 400px) {
  h2 {
    font-size: 4rem !important;
  }

  div h2 {
    font-size: 1.5em !important;
  }
}

/*# sourceMappingURL=styles.css.map */
